{% extends 'base.html' %} {% block content %}

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
      <h1 class="mt-10">Conversation</h1>
    </div>
    <div class="mt-10" id="message-log"></div>

    <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
      <div id="chat-input" class="mb-6">
        <label
          for="large-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Enter Message:</label
        >
        <input
          type="text"
          id="large-input"
          class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          onkeyup="onSubmit(event)"
        />
      </div>
    </div>
  </div>
</section>

<script src="https://media.twiliocdn.com/sdk/js/conversations/v2.4/twilio-conversations.min.js"></script>

{% endblock content %}
